repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: detect-private-key
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        exclude: (pnpm-lock.yaml|.*.jsonc)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.2
    hooks:
      - id: eslint
        files: \.(m|c)?[jt]sx?$
        types: [file]
        exclude: pnpm-lock.yaml
